/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require font-awesome/css/font-awesome
*= require css/main
*= require css/custom
*/

.keditor-frame {
    height: 650px !important;
    width: 100%;
}
div[class^='cke_'].cke_float,
div[class*='cke_'].cke_float {
    margin-left: 265px;
    margin-top: 165px;
}

.dam-media-list {
    max-height: 400px;
    overflow-y: auto;
}
.dam-list-item {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid #999c9e;
    margin: 5px;
    cursor: pointer;
}
.dam-list-item.selected {
    border: 2px solid #a94442;
}

.datepicker {
    z-index: 9999 !important;
}