/*
Ibox
=========================== */
.ibox-title{
    border-top: 0;
    border-bottom: solid 1px #efefef;
    padding: 20px;
}

.ibox-title.pull-left{
    width:100%;
    padding-top:10px;
    padding-bottom:0;
}

.ibox-title .title,
.single-title{
    font-weight: 300;
    font-size: 24px;
}

.ibox-title p.pull-left{
    font-size:16px;
    line-height:38px;
    margin-left:30px;
}
.ibox-content{
    border-bottom: solid 1px #efefef;
    position: relative;
}

.ibox-content:last-child{
    border: 0;
}

.ibox-content.ibok-action{
    margin-top: -1px;
}

.wrap-ibox-collapse{
    border: solid 1px #efefef;
    display: block;
}

.max-580{
    height: 580px;
    overflow-y: scroll;
}

label{
    font-weight: 700;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box-gray{
    background-color: #f5f5f5;
    min-height: 110px;
    padding: 20px 15px;
}

.box-gray-footer{
    background-color: #f5f5f5;
    padding: 20px 15px;
    margin-bottom: 20px;
}


.select2-selection__rendered{
    text-align: left !important;
    min-width: 200px;
}

.select2-selection--multiple{
    border: solid 1px red;
    overflow: hidden !important;
    height: auto !important;
}

.select2-dropdown{
    border: 0;
}

.select2-search.select2-search--dropdown{
    border: solid 1px #efefef;
}

ul.select2-results__options{
    border: solid 1px #efefef;
    border-top:solid 1px #dfdfdf;
    margin-bottom: -1px;
}

ul.select2-results__options li.select2-results__option{
    padding: 10px 15px;
    border-bottom: solid 1px #dfdfdf;
}

.btn-danger{
    color: #fff !important;
}

table.filter-select tr td{
    padding: 0 10px;
    vertical-align: top;
}

table.filter-select tr td .input-group,
table.filter-select tr td .select2-container{
    min-width:250px;
}

/*
Product Detail Cell
=========================== */
.note-editor.note-frame{border:1px solid #efefef}
.img-label{
    position: absolute;
    background: #bebebe;
    color:#fff;
    font-size:14px;
    line-height:14px;
    padding:5px 10px;
    top:50px;
    right: 10px;
    border-radius: 5px;
}
.img-delete{
    display:block;
    text-align:center;
    color:#bbc0d4;
    font-size:18px;
    line-height:18px;
    margin:10px auto 0;
    margin-bottom:10px;
}
.img-nav{
    position:relative;
    display:block;
    font-size:24px;
    margin-bottom:10px;
    text-align:center;
}

.img-nav a{
    display:inline-block;
    color:#bbc0d4;
    margin:0 20px;
}

.img-delete:hover,
.img-nav a:hover{
    color:#2abb9e;
}

@media(max-width:767px){
    .img-nav{
        font-size:14px;
        margin:0;
    }
}

/*
Dropzone
=========================== */
.dropzone {
    min-height: 140px;
    border: 1px dashed #1ab394;
    background: white;
    padding: 20px 20px;
}

a.upload-image{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 140px;
    height: 140px;
    border: dashed 1px #bbc0d4;
    color: #bbc0d4;
    font-size: 24px;
    outline: 0;
}

.preview-page > .content a.upload-image{
    display: inline-block;
    overflow:hidden;
    padding-top:53px;
}


/*
DAM
=========================== */
.dam-thumbnail{
    width:115px;
    height:auto;
    float: left;
    padding-right:10px;
}
.dam-title{
    display: block;
}
.dam-type{
    display: block;
    font-size:14px;
    line-height:18px;
    color:#676A6C !important;
}
.tag-list{
    display: block;
}

.info-tooltips{
    color:#bbc0d4;
    margin-left:5px;
}

.info-tooltips:hover{
    color:#1ab394;
}

.tooltip-inner {
    width: 480px;
    padding: 10px 15px;
    text-align: left;
}

.dam-asset{
    padding:30px;
    border-right: 1px solid #e7eaec;
}


.dam-image-detail ul{
    margin:0;
    padding:0;
}

.dam-image-detail ul li{
    list-style:none;
    margin:0 0 10px 0;
    padding:0;
}

.search-file-wrapp{
    display: block;
    position: relative;
    border-bottom:1px solid #f1f2f4;
}

.search-file-content{
    padding:30px
}

.fileset{
    position:relative;
    display:block;
}

.fileset .btn-search{
    position:absolute;
    border:none;
    background: none;
    font-size:18px;
    line-height:18px;
    color:#bec0d7;
    top:10px;
    right:10px;
}

.gallery-dam{
    margin-left: 0;
    margin-right: 0;
    display: table;
}

.gallery-dam > .col-md-4{
    text-align: center;
    cursor: pointer;
    border: solid 1px #fff;
}

.gallery-dam > .col-md-4:hover,
.gallery-dam > .col-md-4.active{
    border: solid 1px #2abb9e;
}

.gallery-dam img{
    padding: 15px;
}

/*
List Collpase
=========================== */
.wrap-dropdown-list{
    position: relative;
    z-index: 3;
} 

.wrap-dropdown-list .form-control{
    position: relative;
    z-index: 2;
}

.wrap-dropdown-list .input-group-addon{
    cursor: pointer;
}

.wrap-dropdown-list .show-dropdown{
    display: table-cell;
}

.wrap-dropdown-list .hide-dropdown{
    display: none;
}

.wrap-dropdown-list.on .form-control{
    width: 350px;
}

.wrap-dropdown-list.on .hide-dropdown{
    display: table-cell;
}

.wrap-dropdown-list.on .show-dropdown{
    display: none;
}


.wrap-dropdown-list ul.list-collapse{
    padding: 0;
    margin: -1px 0 0 0;
    list-style: none;
    display: none;
    position: relative;
    border: solid 1px #efefef;
    border-top: 0;    
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background: #fff;
}

.wrap-dropdown-list.on ul.list-collapse{
    display: block;
}

ul.list-collapse li{
    display: block;
    padding-left: 15px;
    border-top: solid 1px #efefef;
}


ul.list-collapse li .checkbox > label{
    padding-left: 10px;
    padding-top: 2px;
}

.checkbox.image-size > label{
    padding-left: 5px;
    padding-top: 2px;
}

.checkbox.image-size > label::after{
    top:2px;
}

.checkbox.single-list > label{
    padding-left: 5px;
    padding-top: 2px;
}

.checkbox.single-list > label::after{
    top:2px;
}

ul.list-collapse li .checkbox.main > label{
    font-weight: bold;
    /* margin-left: -30px; */
}

ul.list-collapse li .checkbox label::before{
    border-radius: 50%;
    /* position: absolute;
    opacity: 0;
    filter: alpha(opacity=0); */
}
/* 
ul.list-collapse li .checkbox.main label::after{
    opacity: 0;
    filter: alpha(opacity=0);
} */

ul.list-collapse li .checkbox label::after{
    top: 3px;
}

ul.list-collapse li .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f111"; 
    left: 5px;
}

ul.list-collapse li strong{
    padding: 15px 0;
    cursor: pointer;
    display: block;
}

.dropdown-list {
    position: relative; 
}

.dropdown-list > .arrow {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    color: #bbc0d4; 
    cursor: pointer;
    z-index: 3;
}

.dropdown-list > .arrow:before{
    content: "\f107";
    font-family: 'FontAwesome';
}

.dropdown-list.on > .arrow:before {
    content: "\f106"; 
}

.dropdown-list > .dropdown-content {
    display: none; 
    padding-left: 0;
    margin-left: -40px;
}

.dropdown-list .dropdown-content > li {
    padding-left: 60px;
}

.dropdown-list .dropdown-content > li .dropdown-content{
    margin-left: -60px;
}

.dropdown-list .dropdown-content > li .dropdown-content > li{
    padding-left: 80px;
}

.dropdown-list .dropdown-content > li .dropdown-content{
    margin-left: -80px;
}

.dropdown-list .dropdown-content > li .dropdown-content > li{
    padding-left: 100px;
}

.dropdown-list.on > .dropdown-content {
    display: block; 
}

/*
Datepicker
=========================== */
.datepicker{
    z-index: 9999;
}

/*
Product Detail Cell
=========================== */
.wrap-cell{
    overflow-y: scroll;
    height: 210px;
}

ul.block-list,
ul.block-list-form{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.block-list li,
.block-list-form li{
    display: block;
    position: relative;
    padding: 15px 120px 15px 20px;
    min-height: 55px;
    background: #f5f5f5;
    margin-bottom: 20px;
}

.block-list-form li{
    padding: 15px 15px 15px 20px;
}

ul.block-list li:last-child,
ul.block-list-form:last-child{
    margin-bottom: 0;
}

ul.block-list li .title{
    font-weight: 400;
    margin-bottom: 0;
    font-size: 16px !important;
}

ul.block-list li .title a{
    color: #2abb9e;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

ul.block-list li .title a:hover{
    text-decoration: underline;
}

ul.block-list li .btn,
ul.block-list-form li .btn{
    padding-top: 6px;
    padding-bottom: 5px;
    position: absolute;
    line-height: 18px;
    font-size: 14px;
    top: 50%;
    right: 20px;
    margin-top: -17px;
    height: 34px;
}

ul.block-list-form li .btn{
    position:relative;
    top:auto;
    right:auto;
    margin:3px 0 0 0;
}

ul.block-list.inline{
    display: block;
    width: 100%;
}

ul.block-list.inline li{
    background: transparent;
    margin-bottom: 0;
    padding: 10px 100px 10px 0;
}

ul.block-list.inline li .btn{
    right: 0;
}

/*
Table Version
=========================== */
.table-version,
.table-version tr,
.table-version tr td{
    border: 0 !important;
}

.table-version tr td.action-live{
    width: 100px;
}

.table-version tr td .btn{
    opacity: 0;
}

.table-version tr.active,
.table-version tr.active td{
    background-color: #fff !important;
}

.table-version tr.active td .btn,
.table-version tr:hover td .btn{
    opacity: 1;
}    

/*
Table Responsive
=========================== */
.table-responsive.detail-user{
    min-height: 935px;
}

/*
List Comment
=========================== */
.list-comment{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
}

.list-comment .title{
    font-size: 14px;
}

.list-comment .title em{
    font-weight: 400;
}

.list-comment li{
    margin-bottom: 20px;
}

.list-comment li .link{
    color: #cfcfcf;
    font-weight: bold;
    
}

.list-comment li .action{
    opacity: 0;
}

.list-comment li:hover .action{
    opacity: 1;
}

/*
Page Heading
=========================== */
.page-heading {
    border-top: 0;
    padding: 0 10px 20px 10px;
    position: relative;
}

.page-heading .btn{
    margin-top: 25px;
    margin-left: 15px;
}

.page-heading .info{
    margin-top: 30px;
    display: inline-block;
}

.page-heading .info span{
    color: #3bbda5;
}
  
.page-heading .btn-input{
    position: absolute;
    right: 20px;
    top: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 3;
}

/*
Table
=========================== */
.table-bordered {
    border: 1px solid #EBEBEB;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    background-color: #F5F5F6;
    border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: bottom;
    position: relative;
}

.table > thead > tr > th.sort{
    cursor: pointer;
}

.table > thead > tr > th.sort:before{
    font-family: 'FontAwesome';
    content: "\f0d7";
    float: right;
    color: #bbc0d6;
    position: relative;
    top: 5px;
}

.table > thead > tr > th.sort:after{
    font-family: 'FontAwesome';
    content: "\f0d8";
    right: 20px;
    top: 7px;
    color: #bbc0d6;
    position: absolute;
}

.table > thead > tr > th:first-child:after,
.table > thead > tr > th:first-child:before{
    display:none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 24px;
    font-size: 14px;
    padding: 30px 20px;
    vertical-align: top;
    color: #676A6C;
}

.table tr td .fa.pull-right{
    position: relative;
    top: 5px;
}

.table tr td p{
    margin-bottom: 0;
}

.table tr td.tag-product{
    width: 300px;
}

.line{
    display: block;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th{
    padding-top: 10px;
    padding-bottom: 10px;
}

.table > tbody > tr > td.input,
.table > thead > tr > th.input{
    width: 40px;
    padding-right: 0;
}

.table > tbody > tr > td.input .checkbox.single{
    margin-top: -5px;
}

.table > thead > tr > th.time{
    width: 420px;
}

.table > tbody > tr > td.input{
    padding-top: 28px;
}

.table > tbody > tr > td span{
    color: #3bbda5;
}

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #f3f3f5;
}

.table-striped{
    border-bottom: solid 1px #efefef;
}

.panel-body{
    padding: 20px;
    word-wrap: break-word;
}

.panel-body .table tbody tr td{
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-info{
    color: #1c84c6 !important;
}

.text-warning{
    color: #f8ac59 !important;
}
 
.panel-border{
    border: 1px solid #efefef;
    padding:15px 30px;
}

/*
Feedback detail
----------------------*/
.feedback-detail-list{
    margin:0 0 10px 0;
    padding:0;
    list-style:none;
}

.feedback-detail-list li{
    margin:0 0 20px 0;
    padding:0;
    list-style:none;
}

.feedback-detail-list li label{
    display:block;
}

/*
Form Inline
----------------------*/
.form-inline .form-group label{
    margin-right: 8px;
    margin-left: 8px;
}
  
.form-control.w100{
    width: 200px;
    margin-right: 20px;
}

.form-group small{
    color: #676a6c;
    display: block;
}

/*
Form Control 
----------------------*/
.form-control,
.single-line {
  padding: 6px 12px;
  height: 40px;
  border-radius: 0;
}

.input-location{
    margin-top: -20px;
}

.input-group-addon{
    color: #9f9f9f !important;
}

.input-group.crud  .form-control{
    border: solid 1px #efefef;
    border-right: solid 2px #efefef;
}

.input-group.crud .input-group-btn .btn{
   border: 0;
}

.input-group.crud  .input-group-btn .btn:hover{
    background: transparent;
    border: 0;
}

.input-group.search .input-group-btn .btn{
    border-left: 0;
}

.input-group.search .form-control:focus{
    border: 0;
    border-top: solid 1px #efefef;
    border-left: solid 1px #efefef;
    border-bottom: solid 1px #efefef;
}

/*
Select dual list box
=========================== */
.bootstrap-duallistbox-container select{
    padding: 20px;
}

/*
Button
=========================== */
.btn {
    height: 40px;
    line-height: 22px;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 0 !important;
}

.primary-color{
    color:#1ab394;
}
.table tr td{
    vertical-align: middle !important;
}

.table tr td a,
.single-link,
.ibox-tools .single-link{
    color: #1ab394;
    margin:2px 5px;
}

.ibox-tools .single-link{
    font-size:18px;
}

.table > tfoot > tr > td a:hover,
.single-link:hover,
.ibox-tools .single-link:hover{
    color: #1ab394;
    text-decoration: underline;
}

.ibox-tools .single-link.sort{
    position: relative;
    display:inline-block;
    width:20px;
    height:2px;
    background:#1ab394;
}

.ibox-tools .single-link.sort:before{
    font-family: 'FontAwesome';
    content: "\f0d7";
    right: 5px;
    position: absolute;
    top: -5px;
}

.ibox-tools .single-link.sort:after{
    font-family: 'FontAwesome';
    content: "\f0d8";
    right: 5px;
    top: -18px;
    position: absolute;
}

.text-left{
    text-align: left !important;
}

.ibox.collapsed .col-md-10.col-sm-9{
    padding-left:30px;
}
.add{
    position:absolute;
    left:0;
    top:8px;
    color:#676a6c;
    font-size: 18px;
}

.ibox.collapsed .ibox-content .add{
    top:30px;
}

.ibox.collapsed .ibox-content .label-panel{
    padding-left:40px;
    padding-top:10px;
}

.ibox.collapsed .ibox-content .label-panel label{
    color:#1ab394;
}

.ibox.collapsed .ibox-content .label-panel .add{
    top:8px
}
.add:hover{
    color:#1ab394;
}

.percentage{
    font-size:16px;
    margin-top:5px;
}

.number-list{
    display:block;
    text-align: right;
    font-size:24px;
    line-height:36px;
}
/*
Tabs
=========================== */
.tabs-container.upload .tab-content .panel-body{
    min-height: 340px;
    padding: 25px;
}

.tabs-container.upload .tab-content .dropzone{
    border: 0;
    padding: 0;
}

ul.nav.nav-tabs li a:hover,
ul.nav.nav-tabs li a{
    background-color: #f4f4f4;
}

ul.nav.nav-tabs li.active a{
    background: #fff;
}

/*
Preview Page
=========================== */
.preview-page{
    background-color: #f5f5f5;
    color: #676a6c;
    text-align: center;
    border: solid 1px #dfdfdf;
    margin-top: -1px;
    height: 410px;
    display: table;
    width: 100%;
}

.preview-page.upload{
    background-color:#fff;
    height: 475px;
    padding:20px;
}

.preview-page > .content{
    display: table-cell;
    height: 240px;
    vertical-align: middle;
    text-align: center;
}

.preview-page.insert-content{
    padding:0;
    margin:0;
    height:auto;
}

.preview-page.insert-content > .content{
    height: auto;
}


/*
Preview Image Link
=========================== */
.preview-image-link{
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
}

#preview-image,
.preview-image-link img{
    width: 100%;
    position: relative;
    z-index: 2;
}

.preview-image-link .content{
    padding-top: 50px;
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #bbc0d4;
    z-index: 1;   
}

.row-img-link{
    margin-top: 20px;
}


.dz-filename{}
/*
Post Pagintaion
=========================== */
.post-pagination {
    display: block;
    text-align: center;
    margin-top: 25px; 
}

.post-pagination ul {
    padding: 0;
    list-style: 0;
    margin: 0;
    display: inline-block; 
}

.post-pagination ul li {
    display: block;
    float: left; 
}

.post-pagination ul li.nav {
    padding: 0 20px; 
    position: relative;
    top: -2px;
}

.post-pagination ul li.nav a {
    font-size: 18px;
    color: #bcc1d4; 
}

.post-pagination ul li.nav a:hover {
    color: #ee1c25; 
}

.post-pagination ul li.page {
    width: 45px;
    height: 45px;
    padding-top: 9px;
    border: solid 1px #e0e0e0;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    top: -12px;
    margin-right: 10px; 
}

.post-pagination ul li.page input {
    width: 45px;
    text-align: center;
    background: transparent;
    padding: 0;
    border: 0;
    position: relative;
    outline: 0;
    top: 2px;
    left: -1px; 
}

.post-pagination ul li.count {
    margin-left: 3px; 
}

/*
Label Arrow
=========================== */
.label-arrow{
    display: table;
    padding: 10px 50px 10px 20px;
    background-color: #d8d8d8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    color: #676a6c;
    margin-bottom: 20px;
}

.label-arrow::before{
    content: "";
    border-left: solid 30px #d8d8d8;
    border-bottom: solid 19px transparent;
    border-top: solid 19px transparent;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: -2px;
}

.label-arrow.active{
    color: #fff;
    background-color: #2abb9f;
}

.label-arrow.active::before{
    border-left: solid 30px #2abb9f;
}

.footer .copy{
    position: relative;
    top: 13px;
}

/*
Modal
=========================== */
.modal-header{
    padding: 20px;
    text-align: left;
    padding: 0 !important;
}

.modal-header .btn-title{
    position: relative;
    top: 30px;
    right: 30px;
}

.modal-header .modal-title{
    font-weight: 300;
    margin: 0;
    padding: 20px;
    text-align: left;
    font-size: 24px;
    line-height: 30px;
}

.modal-header .select-title-right{
    position: relative;
    top: 15px;
    right: 20px;
}

/*
Keditor
=========================== */
#keditor-content-area {
    position: relative;
}
#keditor-sidebar {
    position:absolute;
    top:auto;
    height:100%;
    bottom: 0;
    box-shadow: none;
    border: 1px solid #ddd;
}
.keditor-content-area {
    padding: 10px 20px;
}
.keditor-component:before {
    border: 1px dashed #e0e0e0;
}
.keditor-container:before {
    border: none;
}
.keditor-tabs .keditor-tab a {
    color: #333;
}


/*
Checkbox
=========================== */
.checkbox {
    padding-left: 20px; 
}

.checkbox.single{
    padding-bottom: 0;
    margin-top: 0px;
    margin-bottom: -5px;
}
  
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    position: relative;
    margin-bottom: 5px; 
}

.modal-checkbox label{
    padding-left: 10px;
}

.modal-checkbox label{
    font-weight: bold;
}

.checkbox.single label{
    padding-left: 0;
    margin-bottom: -5px;
}
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-left: -20px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    outline: 0; 
}

.modal-checkbox label::before{
    top: -3px;
}
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: -1px;
    margin-left: -20px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 11px;
    color: #ee1c25; }
  
  .checkbox input[type="checkbox"] {
    opacity: 0; }
  
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: 0; }
  
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
  
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
  
  .checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
  
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  
  .checkbox.checkbox-inline {
    margin-top: 0; }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
  
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
  
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
  
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
  
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
  
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }


/*
Wrap List Checkbox
=========================== */
.wrap-list-check{
    border: solid 1px #dfdfdf;
    max-height: 500px;
    overflow-y: auto;
    padding: 0;
}

.wrap-list-check ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrap-list-check > ul > li{
    display: block;
    padding: 0 20px 5px;
    border-bottom: solid 1px #dfdfdf;
}

/* Level 1 --*/
.wrap-list-check > ul > li > ul{
    margin: 5px -20px 0;
    display: none;
}

.wrap-list-check > ul > li > ul > li{
    padding: 0 20px 5px 60px;
    border-bottom: solid 1px #dfdfdf;
}

.wrap-list-check > ul > li > ul > li:first-child{
    border-top: solid 1px #dfdfdf;
}

/* Level 2 --*/
.wrap-list-check > ul > li > ul > li > ul{
    margin: 5px -20px 0 -60px;
    display: none;
}

.wrap-list-check > ul > li > ul > li > ul > li{
    padding: 0 20px 5px 102px;
    border-bottom: solid 1px #dfdfdf;
}

.wrap-list-check > ul > li > ul > li > ul > li:first-child{
    border-top: solid 1px #dfdfdf;
}

.wrap-list-check ul li:last-child{
    border: 0;
}

.wrap-list-check ul li .checkbox{
    margin-bottom: 0;
}

.wrap-list-check ul li .checkbox.main:before{
    font-family: 'FontAwesome';
    content: "\f107";
    float: right;
}

.wrap-list-check ul li.on > .checkbox.main:before{
    content: "\f106";
}

.wrap-list-check ul li.on > ul{
    display: block;
}

.wrap-list-check ul li .checkbox label{
    padding-left: 15px;
}

.wrap-list-check ul li .checkbox label::after{
    padding-top: 4px;
}

/*
Responsive
=========================== */
@media(max-width:1200px){
    .page-heading .btn-input{
      top: 10px;
    }
      
}
  
@media(max-width:767px){
    .page-heading .btn-input{
        position: relative;
        float: none;
        top: 0;
        left: 0;
        margin-top: 15px;
    }
}
  
  
/*
Margin Helper
=========================== */
.margin-top0{
margin-top: 0px !important;
}

.margin-top10{
margin-top: 10px !important;
}

.margin-top20{
margin-top: 20px !important;
}

.margin-top30{
margin-top: 30px !important;
}

.margin-top40{
margin-top: 40px !important;
}

.margin-top50{
margin-top: 50px !important;
}

.margin-top60{
margin-top: 60px !important;
}

.margin-top70{
margin-top: 70px !important;
}

.margin-bottom0{
margin-bottom: 0px !important;
}

.margin-bottom5{
margin-bottom: 5px !important;
}

.margin-bottom10{
margin-bottom: 10px !important;
}

.margin-bottom15{
margin-bottom: 15px !important;
}

.margin-bottom20{
margin-bottom: 20px !important;
}

.margin-bottom25{
margin-bottom: 25px !important;
}

.margin-bottom30{
margin-bottom: 30px !important;
}

.margin-bottom40{
margin-bottom: 40px !important;
}

.margin-bottom45{
margin-bottom: 45px !important;
}

.margin-bottom50{
margin-bottom: 50px !important;
}

.margin-bottom60{
margin-bottom: 60px !important;
}

.margin-bottom70{
margin-bottom: 70px !important;
}

.margin-bottom80{
    margin-bottom: 80px !important;
}

.margin-left5{
margin-left: 5px !important;
}

.margin-left10{
margin-left: 10px !important;
}

.margin-left15{
margin-left: 15px !important;
}

.margin-left20{
margin-left: 20px !important;
}

.margin-right5{
margin-right: 5px !important;
}

.margin-right10{
margin-right: 10px !important;
}

.margin-right15{
margin-right: 15px !important;
}

.margin-right20{
margin-right: 20px !important;
}

/*
Padding Helper
=========================== */
.padding-clear{
padding: 0 !important;
}

.padding-top0{
padding-top: 0 !important;
}

.padding-top5{
padding-top: 5px !important;
}

.padding-top10{
padding-top: 10px !important;
}

.padding-top20{
padding-top: 20px !important;
}

.padding-top30{
padding-top: 30px !important;
}

.padding-top40{
padding-top: 40px !important;
}

.padding-top50{
padding-top: 50px !important;
}

.padding-top60{
padding-top: 60px !important;
}

.padding-top65{
padding-top: 65px !important;
}

.padding-top70{
padding-top: 70px !important;
}

.padding-bottom0{
padding-bottom: 0px !important;
}

.padding-bottom5{
    padding-bottom: 5px !important;
}

.padding-bottom10{
padding-bottom: 10px !important;
}

.padding-bottom15{
padding-bottom: 15px !important;
}

.padding-bottom20{
padding-bottom: 20px !important;
}

.padding-bottom30{
padding-bottom: 30px !important;
}

.padding-bottom35{
padding-bottom: 35px !important;
}

.padding-bottom40{
padding-bottom: 40px !important;
}

.padding-bottom50{
padding-bottom: 50px !important;
}

.padding-bottom60{
padding-bottom: 60px !important;
}

.padding-bottom70{
padding-bottom: 70px !important;
}

.padding-left30{
padding-left: 30px;
}

.padding-left40{
padding-left: 40px;
}

.padding-left50{
padding-left: 50px;
}

.padding-right30{
padding-right: 30px;
}

.padding-right40{
padding-right: 40px;
}

.padding-right50{
padding-right: 50px;
}

/*
Show & Hide
=========================== */
.show-medium{
display: none !important;
}

.show-small{
display: none !important;
}

@media(max-width: 992px){
.show-medium{
    display: inline-block !important;
}

.hide-medium{
    display: none !important;
}

.left-medium{
    text-align: left;
}
}

@media(max-width:767px){
.hide-small{
    display: none !important;
}

.show-small{
    display: block !important;
}
}

.demo {
    background: #fafafa; 
}
  
.list-page {
    background: #fff;
    width: 300px;
    display: block;
    margin: 50px auto 50px; 
}
    
.list-page ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block; 
}

.list-page ul li {
    display: block; 
}
    
.list-page ul li a {
    display: block;
    padding: 15px 20px;
    background: #fff;
    color: #6f6f6f;
    border-bottom: solid 1px #efefef;
    text-decoration: none !important; 
}
        
.list-page ul li a:focus, .list-page ul li a:hover {
    color: #1ab394; 
}

.btn-add-row{
    padding: 0;
    margin: 0;
    outline: 0;
    cursor: pointer;
    background: transparent;
    font-size: 24px;
    border: 0;
}

.btn-add-row span{
    color: #c8cbdc !important;
}

.btn-add-row:hover span{
    color: #2abb9e !important;
}

.modal-lg{
    width: 800px;
}

#full-page-wrapper{
    position: relative;
}

#full-page-wrapper .page-heading,
#full-page-wrapper .wrapper-content{
    padding-left:20px;
    padding-right:20px;
}

#full-page-wrapper .footer{
    bottom:0;
    width:100%;
    position:absolute;
    z-index:6;
}

.article-editor-icons{
    float:left;
    display:block;
    width:auto;
    position:relative;
    padding:10px 0;
}

.link-icon-etitor{
    float:left;
    width:100px;
    height:auto;
    text-align:center;
    color:#676a6c;
    font-size:14px;
    line-height: 1.43;
    margin-right:10px;
}

.link-icon-etitor:hover,
.link-icon-etitor:active,
.link-icon-etitor:focus{
    color:#1ab394;
}

.link-icon-etitor i{
    display:inline-block;
    width:45px;
    height:45px;
    border:1px solid #cacaca;
    font-size:26px;
    line-height:44px;
    margin-bottom:10px;
}

.link-icon-etitor:hover i,
.link-icon-etitor:active i,
.link-icon-etitor:focus i{
    border:1px solid #1ab394;
}

.link-icon-etitor span{
    display:inline-block;
    width:100px;
    height:auto;
}

.article-main-editor p{
    margin-bottom:30px;
    font-size: 16px;
    line-height: 1.88;
}
.article-small-editor{
    position:relative;
}
.article-small-editor .article-small-content{
    padding-top:30px;
}
.article-small-editor .col-lg-12 .article-small-content,
.article-small-editor .col-md-12 .article-small-content{
    padding-top:15px;
    padding-bottom:10px;
}
.article-small-editor.search-results .article-small-content{
    padding-top:0;
}

.article-small-editor.search-results .single-title{
    font-size:14px;
    line-height: 24px;
    font-weight:700;
}

.article-small-editor span.label{
    position: absolute;
    background: #bebebe;
    color:#fff;
    font-size:12px;
    line-height:12px;
    padding:6px 10px;
    top:0;
    right: 15px;
    border-radius: 20px;
    z-index:5;
}
.article-small-editor.full-image span.label{
    top:20px;
    right: 20px;
}
.article-small-editor.search-results span.label{
    font-size:10px;
    line-height:10px;
    padding:5px 8px;
    top:5px;
}
.article-small-editor .single-title{
    line-height:30px;
}
.article-small-editor .btn-danger{
    background:#ec1d25;
    border-radius:40px;
    color:#fff;
}
/*
Custome tab
=========================== */
.custom-tabs{
    position: relative;
    display: block;
    overflow: hidden;
    background:#fff;
}

.custom-tabs ul.nav{
    display: table;
    border: none;
}

.custom-tabs ul.nav > li{
    border: none;
    padding: 0;
    margin:0;
}

.custom-tabs ul.nav > li > a{
    border: solid 1px #f3f3f4;
    background: #f3f3f4;
    color: #a7b1c2;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 30px;
    margin:0;
}

.custom-tabs ul.nav > li > a:hover{
    color:#1ab394;
}

.custom-tabs ul.nav > li.active > a{
    background-color: #ffffff;
    border: solid 1px #e5e6e7;
    border-bottom:solid 1px #fff;
    color:#555555;;
}